DATABASE_URL="postgres://postgres:postgres@localhost:5432/better-auth"
DIRECT_URL="postgres://postgres:postgres@localhost:5432/better-auth"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"

RESEND_API_KEY=""
RESEND_FROM_EMAIL=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"

MINIO_PORT="9000"
MINIO_CONSOLE_PORT="9001"
MINIO_ROOT_USER="admin"
MINIO_ROOT_PASSWORD="admin"
MINIO_SERVER_URL="localhost"
MINIO_USE_SSL="false"
MINIO_BROWSER_REDIRECT_URL="localhost"
MINIO_REGION="us-east-1"
MINIO_BUCKET_NAME="public-assets"